@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #252525;
    --black2: #131415;
    --orange: #FFA400;
    --red: #FC2933;
    --white: #FFFFFF;
    --gradient1: #FFA100;
    --gradient2: #FB103D;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    /* max-width: 1500px; */
    margin: 0 auto;
    background-color: var(--black2);
    /* border: solid red; */
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

/* HEADER */

.header-container {
    position: sticky;
    top: 0%;
    z-index: 9999;
}

.header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid red; */
    background-color: var(--black2);
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 40px 65px;
}

.logo-container img {
    width: 76px;
}

.navbar {
    height: 150px;
    display: flex;
    flex-direction: row;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 70px 110px;
    color: var(--white);
    font-size: 12px;
    line-height: 15px;
}

.nav-item:first-child {
    display: flex;
    align-items: center;
    /* border: solid red; */
}

.icon {
    filter: invert(70%) sepia(49%) saturate(2783%) hue-rotate(357deg) brightness(97%) contrast(109%);
    cursor: pointer;
}

.home {
    padding-right: 14.5px;
}

.cart {
    padding-right: 54px;
    padding-left: 68px;
    opacity: 0.5;
}

.profile {
    opacity: 0.5;
}

/* CARRITO DE COMPRAS*/

.cart-window {
    display: none;
    position: absolute;
    z-index: 99999;
    background-color: var(--black);
    width: 450px;
    height: 90vh;
    top: -10;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
}

.cart-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 38px;
    margin-left: 19px;
    margin-right: 46px;
    margin-bottom: 38px;
    color: var(--white);
}

.cart-box h2 {
    align-self: flex-start;
}

.close-btn {
    align-self: flex-start;
    width: 23px;
    height: 22px;
    border-radius: 4px;
    margin-bottom: 55px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border: none;
    color: var(--white);
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--black);
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    width: 347px;
    height: 103px;
    border-radius: 15px;
    margin-left: 46px;
    margin-top: 35px;
    margin-bottom: 94px;
    padding: 20px 14px;
    gap: 20px;
}

.cart-quantity {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.minus-btn {
    width: 26px;
    height: 26px;
    background: linear-gradient(98.81deg, rgba(255, 161, 0, 0.1) -0.82%, rgba(255, 161, 0, 0.1) -0.81%, rgba(255, 0, 92, 0.1) 101.53%);
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.minus-btn i {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FFA100 -0.81%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cart-quantity h2 {
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    text-align: left;
}

.plus-btn {
    width: 26px;
    height: 26px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FFA100 -0.81%, #FF005C 101.53%);
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    border: none;
}

.cart-info {
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart-item img {
    width: 62px;
    height: 62px;
    border-radius: 16px;
}

.cart-info h2 {
    font-size: 15px;
    font-weight: 500;
}

.cart-info p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
    letter-spacing: 0.5px;
}

.cart-info h3 {
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cart-price {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 39px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
}

.envio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
    margin-bottom: 19px;
    border-bottom: 1px solid #9D9D9D66;
    padding-bottom: 11px;
    font-size: 14px;
    font-weight: 500;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
    margin-bottom: 44px;
    font-size: 22px;
    font-weight: 500;
}

.total h3:last-child{
    color: #FF7A00;
}

.buy-btn {
    width: 254px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    margin-bottom: 11px;
}

.cart-box small {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    opacity: 0.3;
    cursor: pointer;
}


/* HERO */

#hero {
    width: 100%;
    /* border: solid red; */
    flex-direction: row;
    gap: 184px;
    justify-content: space-around;
    margin-top: 68px;    
}

.hero-text {
    color: var(--white);
}

.hero-text h1 {
    font-weight:  700;
    font-size: 66px;
    line-height:  86.48px;
}

.hero-text h2 {
    font-weight: 700;
    font-size: 51px;
    line-height: 66.82px;
    margin-bottom: 20px;
}

.hero-text p {
    font-weight: 400;
    font-size: 21px;
    line-height: 56px;
}

.btn {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    border: none;
    color: var(--white);
}

.more-btn {
    width: 166px;
    height: 50px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 30px;
    cursor: pointer;
}

.hero-img {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 91px;
}

.pizzahero-1 {
    position: relative;
    top: 0;
    left: 0;
    width: 265px;
    height: 265px;
    /* border: solid red; */
}

.pizzahero-2 {
    position: absolute;
    top: -114px;
    left: 126px;
    width: 392px;
    height: 392px;
    /* border: solid red; */
}

/* CARDS */

#cards {
    color: var(--white);
    margin-top: 71px;
    gap: 24px;
    flex-direction: column;
    /* border: solid red; */
}

.card-title {
    /* border: solid yellowgreen; */
    margin-left: 133px;
    align-self: flex-start;
}

.card-title h2 {
    font-size: 22px;
    font-weight: 500;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
}

.card {
    width: 347px;
    height: 103px;
    background-color: #252525;
    border-radius: 15px;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
}

.add-btn {
    width: 85px;
    height: 29px;
    border-radius: 17.5px;
    cursor: pointer;
}

.card-info {
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.card-img {
    width: 62px;
    height: 62px;
    border-radius: 16px;
}

.card-info h2 {
    font-size: 15px;
    font-weight: 500;
}

.card-info p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
}

.card-info h3 {
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* FILTER */

#filter {
    margin-top: 84px;
    color: var(--white);
    flex-direction: column;
}

.filter-title {
    margin-left: 133px;
    align-self: flex-start;
}

.filter-title h2 {
    font-size: 15px;
    font-weight: 800;
}

.filter-img {
    align-self: center;
}

.rectangle {
    display: flex;
    width: 24px;
    height: 4px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    margin-top: 12px;
}

.filter-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
    margin-top: 31px;
}

.item-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 147px;
    height: 171px;
    border-radius: 17px;
    background-color: #252525;
    /* border: solid yellow; */
    cursor: pointer;
    margin: auto;
}

.filter-info {
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-info h3 {
    align-self: center;
    /* border: solid yellow; */
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.filter-img {
    position: relative;
    height: 85px;
    width: 85px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid yellow; */
    margin-bottom: 15px;
    margin-top: auto;
}

.filterpizza-2 {
    position: relative;
    /* height: 71px; */
    /* width: 71px; */
    top: 0px;
    left: 0px;
    /* border: solid red; */
}

.filterpizza-1 {
    position: absolute;
    /* height: 71px; */
    /* width: 71px; */
    top: 12px;
    left: 8px;
    filter: blur(5px);
}

.filterburger {
    /* height: 85px; */
    /* width: 85px; */
}

.filterfries-2 {
    position: relative;
    /* height: 71px; */
    /* width: 71px; */
    top: 0px;
    left: 0px;
    /* border: solid red; */
}

.filterfries-1 {
    position: absolute;
    /* height: 71px; */
    /* width: 71px; */
    top: 12px;
    left: 8px;
    filter: blur(5px);
    opacity: 0.5;
}

.filterindiv {
    /* height: 86px; */
    /* width: 85px;     */
}

.filterwrap {
    /* height: 86px; */
    /* width: 86px; */
}

.filtermex {
    /* width: 85px; */
    /* height: 86px; */
}

.filtersmoothie {
    /* height: 86px; */
    /* width: 86px; */
}

/* POPULAR */

#popular {
    color: var(--white);
    margin-top: 71px;
    gap: 24px;
    flex-direction: column;
    /* border: solid red; */
}

.popular-title {
    /* border: solid yellowgreen; */
    margin-left: 133px;
    align-self: flex-start;
}

.popular-title h2 {
    font-size: 22px;
    font-weight: 500;
}

.popular-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 200px;
}

.popular-card {
    width: 282px;
    height: 213px;
    background-color: #252525;
    border-radius: 15px;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
}

.add-btn {
    width: 85px;
    height: 29px;
    border-radius: 17.5px;
    cursor: pointer;
    align-self: flex-end;
}

.popularcard-info {
    /* border: solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.popularcard-text {
    display: flex;
    flex-direction: column;
}

.popularcard-img {
    width: 237px;
    height: 97px;
    border-radius: 16px;
}

.popularcard-info h2 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 11px;
}

.popularcard-info p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
}

.popularcard-info h3 {
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    gap: 68px;
    align-items: center;
    color: var(--white);
    margin-top: 137px;
    margin-bottom: 40px;
}

footer h3 {
    font-weight: 400;
    font-size: 17;
}

.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 27px;
    /* border: solid red; */
    font-size: 17px;
    font-weight: 400;
}

#heart{
    /* color: red; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,41,51,1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}














