@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #000000;
    --light-black: #252525;
    --text-grey: #696969;
    --orange: #FFA400;
    --red: #FC2933;
    --white: #FFFFFF;
    --gradient1: #FFA100;
    --gradient2: #FB103D;
/*MSD: Agrego variable para svgs si logran hacerlo de otra manera. Adelante*/
    --svg-orange: invert(70%) sepia(100%) saturate(2545%) hue-rotate(358deg) brightness(101%) contrast(107%);
}

body{
    background-color: var(--black);
}

/*Navbar*/

nav{
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#logo{
    height: 100px;
}

    /* Icons box*/

.list-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-icon:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.icon{
    color: var(--orange);
    height: 30px;
    width: 30px;
    /* background-color: var(--orange); */
    filter: var(--svg-orange);
}

/*Hero*/

.div-hero{
    min-height: 300px;
    margin: 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.div-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 25px;
    /* background-color: blue; */
}

h1, h2, h3, h4, b, p, span {
    color: var(--white);
}

h1{
    font-size: 40px;
}

h3{
    font-weight: 200;
}

h3 b{
    font-weight: 800;
}

#btn__more{
    background: rgb(255,161,0);
    background: linear-gradient(90deg, var(--gradient1) 35%, var(--gradient2) 100%);
    font-weight: 700;
    color: var(--white);
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 7.5px;
}

.div-images{
    position: relative;
    top: -150px;
    right: 450px;
    /* left: 0px; */
    background-color: red;
}

.pizzahero{
    position: absolute;
    /* margin: 0px 150px; */
    /* height: 300px; */
    /* width: auto; */
}

.pizzahero-1{
    height: 300px;
}

.pizzahero-2{
    object-fit: cover;
    height: 200px;
    width: 300px;    
    top: 10px;
    left: 155px;
}

/*TODO: Hacer media queries.*/

/*Recommendations*/

.recommendations{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recommendations-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommendations-text h4 {
    font-size: 20px;
    font-weight: 300;
}

.recommendations-desc {
    color: var(--text-grey);
}

.recommendations-price {
    font-weight: 600;
    font-size: 20px;
    color: rgb(255,161,0);
    /* color: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 75%); */
}

.recommendations-item {
    height: 150px;
    width: 500px;
    padding: 25px 50px;
    /* margin: 25px 25px; */
    background-color: var(--light-black);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.img-recommendations{
    height: 100px;
    width: 100px;
}

.btn__recommendations{

    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgb(255,161,0);
    background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 75%);
    text-decoration: none;
}

/*Categories*/

.categories{
    margin: 0px 10px;
}

.categories-list, .recommendations-list{
    /* margin: 10px 0px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.categories-item{
    height: 225px;
    width: 175px;
    margin: 25px 10px;
    background-color: var(--light-black);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.categories-item img{
    margin: 25px 0px;
    height: 100px;
    -webkit-filter: drop-shadow(1.5px 1.5px 5px rgba(255, 255, 255, 0.8));
    filter: drop-shadow(1.5px 1.5px 5px rgba(255, 255, 255, 0.8));
}

.div-line{
    height: 10px;
    width: 40px;
    background: rgb(255,161,0);
    background: linear-gradient(90deg, var(--gradient1) 35%, var(--gradient2) 100%);
    border-radius: 10px;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer-list{
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#heart{
    color: red;
}